<!-editor_lernuhr.html->
<!-DOCTYPE html>
<html>
<head>
    <title>Uhr-Steuerung</title>

    <meta id="startwerte"   data-modus="{{ modus }}"
                            data-tempo_kommastellen="{{ tempo_kommastellen }}"
                            data-tempo_wert="{{ tempo_wert }}"
                            data-start_zeit="{{ start_zeit }}"
                            data-kalkulations_zeit="{{ kalkulations_zeit }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
table {
  /* width: 75%; */
  border-collapse: separate;
  border-spacing: 0; /* Entfernt zusätzlichen Abstand zwischen Zellen */
  padding: 10px;
}
tr.kalk_start_row {
  background-color: lightblue;
  border-bottom: 2px solid white;
  padding: 5px; /* Passt den inneren Abstand an */
}
td {
  border: none;
  padding: 15px;
  text-align: right;
}
input[type="date"] {
  padding: 4px;
  font-size: 16px;
}
input[type="time"] {
  padding: 4px;
  font-size: 16px;
}
input[type="range"] {
  padding: 7px;
}
.optionen_button {
    width: 100%;
    height: 50px;
}
td button {
    width: 100%;
    height: 60px;
}
.laufende_zeit {
    font-size: 32px;
    text-align: center;
}
.label_laufende_zeit {
    /* color: blue; */
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}
.modis {
    padding: 6px;
}
.modi_namen {
    /* color: blue; */
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

</style>
</head>
<body>


    <h1>Uhr-Steuerung</h1>
    <div class="menue" id="neue_uhr">{{neue_uhr}}</div><br>
    <div class="menue" id="testausgabe"></div><br>
    <table>
        <tr class="laufende_zeit">
            <td class="label_laufende_zeit"><label class="label_laufende_zeit">Aktuelle Zeit:</label></td>
            <td class="laufende_zeit" colspan="3">
                <label class="laufende_zeit" id="aktuelle_uhrzeit">{{aktuelle_uhrzeit}}</label></td>
        </tr>
        <tr class="laufende_zeit">
            <td class="label_laufende_zeit"><label class="label_laufende_zeit">Neue Zeit:</label></td>
            <td class="laufende_zeit" colspan="3">
                <label class="laufende_zeit" id="neue_uhrzeit">{{neue_uhrzeit}}</label></td>
        </tr>
        <tr class="kalk_start_row">
            <td style="text-align: center;" colspan="2"><label>Startzeit</label></td>
            <td style="text-align: center;" colspan="2"><label>Kalkulationszeit</label></td>
        </tr>
        <tr class="kalk_start_row">
            <td style="text-align: center;"><label>Datum</label>
                <p>
                    <input type="date" id="date_start_zeit_datum"
                       name="date_start_zeit_datum" value="">
                </p>
            </td>
            <td style="text-align: center;"><label>Uhrzeit</label>
                <p>
                    <input type="time" id="time_start_zeit_uhrzeit"
                       name="time_start_zeit_uhrzeit" value="">
                </p>
            </td>
            <td style="text-align: center;"><label>Datum</label>
                <p>
                    <input type="date" id="date_kalkulations_zeit_datum"
                       name="date_kalkulations_zeit_datum" value="">
                </p>
            </td>
            <td style="text-align: center;"><label>Uhrzeit</label>
                <p>
                    <input type="time" id="time_kalkulations_zeit_uhrzeit"
                       name="time_kalkulations_zeit_uhrzeit" value="">
                </p>
            </td>
        <tr>
            <td><label>Neuer Tempowert:</label></td>
            <td colspan="3" style="text-align: left; font-size: 20px;">
                <label id="neuer_tempo_wert"></label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <label id="tempo_wert_value"></label><br>
                <input type="range"
                       id="tempo_wert" name="tempo_wert" min="0" max="10000" step="1" value=""><br>
                <label for="tempo_wert">(von 0 - 10000 / Schritte: 1):</label>
            </td>
            <td colspan="2" style="text-align: center;">
                <label id="tempo_kommastellen_value"></label><br>
                <input type="range" id="tempo_kommastellen" name="tempo_kommastellen"
                       min="0" max="0.999" step="0.001" value=""><br>
                <label for="tempo_kommastellen">(von 0 - 0.999 / Schritte: 0.001):</label>
            </td>
        </tr>
        <tr class="kalk_start_row">
            <td style="text-align: right;"><label class="modi_namen">Modus:</label></td>
            <td style="text-align: left;">
                <div class="modis">
                    <input type="radio" id="modus_echt_button" name="modus" value="ze">
                    <label class="modi_namen" id="modus_label_echt">Echt</label>
                </div>
                <div class="modis">
                    <input type="radio" id="modus_laeuft_button" name="modus" value="zl">
                    <label class="modi_namen" id="modus_label_laeuft">Läuft</label>
                </div>
                <div class="modis">
                    <input type="radio" id="modus_pause_button" name="modus" value="zp">
                    <label class="modi_namen" id="modus_label_pause">Pause</label>
                </div>
            </td>
            <td>
                <button class="optionen_button" type="button" onclick="calibriereLernuhr()">Calibrieren</button>
            </td>
            <td>
                <button class="optionen_button" type="button" onclick="resetLernuhr()">Reset</button>
            </td>

        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <button type="button" onclick="speicherLernuhr()">Speichern & Zurück</button></td>
            <td colspan="2" style="text-align: center">
                <button type="button" onclick="verwerfeLernuhr()">Zurück ohne Speichern</button>
            </td>
        </tr>
    </table>
    <script src="{{ url_for('static', filename='js/script_lernuhr.js') }}"></script>

</body>
</html>